<strong>Olá, {{ organizer }}</strong>
<p>Houve uma inscrição no seu meetup:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />

  <small>Lembre-se: seu meetup será dia {{ date }}</small>

  <small>
    Seu meetup está sendo um sucesso!
  </small>
</p>
